





.small-card-header {
    display: flex;
    justify-content: space-between !important;
    padding: 0 8px;
    font-family: cabin, sans-serif;
    align-items:baseline;
    width: 90%;
    height: 38px;
}

.small-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    gap: 6px;
    width: 150px;
    height: 270px;
    padding: 10px;
    font-family: montserrat, sans-serif;
    font-weight: 600;
    font-size: 12px;
    transform: scale(1.00);
    transition: 500ms ease-in-out;
    cursor: url('../assets/icons/pokemon-icon2.png'), pointer;
}

.small-card-name {
    font-size: 16px;
    margin-left: 12px
}

.small-card-img-container {
position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100px;
    width: 145px;
    overflow: hidden;
}

.small-card-border {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    height: 6px;
    width:101%;
    border-radius: 0 0 4px 4px;
    transform: translateY(1px);
}

.powers-header {
    margin-bottom: 4px;
    font-family: montserrat, sans-serif !important;
    font-size: 14px;
    font-weight: 600;
}

.small-card-powers-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4px;
    text-align: center;
    font-family: raleway, sans-serif;
    width: 100%;
    align-self: center;
}

.small-card-stat-wrapper {
    position: absolute;
    bottom: 32px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    border-width: 2px;
    padding: 4px;
}

.small-card-footer {
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: var(--small-card-border-position);
    bottom: var(--small-card-border-position);
    right: var(--small-card-border-position);
    padding: 5px;
    font-family: cabin, sans-serif;
}


.small-card:hover {
    transform: scale(1.05);
    transition: 500ms ease-in-out;
}