




@font-face {
    font-family: montserrat;
    src: url("../assets/fonts/montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
    font-family: "montserat static";
    src: url("../assets/fonts/montserrat/static/Montserrat-Regular.ttf");
}

@font-face {
    font-family: cabin;
    src: url("../assets/fonts/cabin/Cabin-VariableFont_wdth_wght.ttf");
}

@font-face {
    font-family: "cabin static";
    src: url("../assets/fonts/cabin/static/Cabin-Regular.ttf");
}

@font-face {
    font-family: raleway;
    src: url("../assets/fonts/raleway/Raleway-VariableFont_wght.ttf");
}

@font-face {
    font-family: "raleway static";
    src: url("../assets/fonts/raleway/static/Raleway-Regular.ttf");
}




.loading-spinner-img {
    width: 180px;
    height: 180px;
    animation-name: animate-spinner;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes animate-spinner {
    0% {rotate: 0deg;}
    100% {rotate: 360deg};
}

.arrow-button {
    width: 28px;
}

a {
    text-decoration: none;
}