

.game-content {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

/* .game-content * {
    border: solid 2px black;
    
} */

.left-content,
.middle-content,
.right-content {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.left-content,
.right-content {
    width: 250px;
    height: auto;
    padding: 20px;
    
}

.middle-content {
    flex: 1;
    padding: 0;
    ;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.search-bar {
    margin-top: 20px;
}

.all-cards {
   flex: 1;
}

/* SMALL CARD DESIGN */


.all-cards {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.small-card-header-container {
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
}

.small-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
    height: 300px;
    border: solid 4px;
    border-color: var(--poke-logo-blue);
    padding: 10px;
    border-radius: 10px;
}

.small-card-main-content {

}

.small-card-img-container {
    position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   border: solid 2px;
   border-color: var(--poke-logo-darkblue);
   border-radius: 10px 10px 5px 5px;
}

.border {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    height: 6px;
    width:101%;
    border-radius: 0 0 4px 4px;
    background: var(--card-border);
    transform: translateY(1px);
}