

.click-animation {
    animation-name: card-click;
    animation-duration: 200ms;
    animation-iteration-count: 2;
}

@keyframes card-click {
    0% {
        filter: brightness(1);
    }
    50% {
        filter: brightness(1.2);
    }
    100% {
        filter: brightness(1);
    }
}

.large-card-container {
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.large-card-container-animation {
    
}