

.title-content {
    flex-direction: column;
   /* position: relative; */
}

.pokemon-logo {
    width: 800px;
}

.by {
    width: 50px;
    margin-top: 40px;
}

.name {
    width: 500px;
}

.main-container {
    height: 100vh;
    height: 100dvh;
     background: var(--main-bg-color);
}

.title-bottom {
    /* gap: 40px; */
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 0;
    padding-right: 0;
}

.pokeball-title {
    width: 300px;
    height: 150px;
    object-fit: cover;
    overflow:visible;
}

