
@font-face {
    font-family: montserrat;
    src: url("../assets/fonts/montserrat/Montserrat-VariableFont_wght.ttf");
}

@font-face {
    font-family: "montserat static";
    src: url("../assets/fonts/montserrat/static/Montserrat-Regular.ttf");
}

@font-face {
    font-family: cabin;
    src: url("../assets/fonts/cabin/Cabin-VariableFont_wdth_wght.ttf");
}

@font-face {
    font-family: "cabin static";
    src: url("../assets/fonts/cabin/static/Cabin-Regular.ttf");
}

@font-face {
    font-family: raleway;
    src: url("../assets/fonts/raleway/Raleway-VariableFont_wght.ttf");
}

@font-face {
    font-family: "raleway static";
    src: url("../assets/fonts/raleway/static/Raleway-Regular.ttf");
}

.d_none {
    display: none;
}

html {
    max-width: 1440px;
    scroll-behavior: smooth;
    margin: 0 auto;
    /* height: 100vh; */
}

body {
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0;
    height: 100vh;
   
}

.body {
    overflow: hidden;
}

.main-container {
    position: relative;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card-container {
    position: relative;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* padding-top: 20px; */
}

.middle-content {
    /* top: -200px; */
    height: 100%;
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

button {
    height: 100px;
}

.title-container {
    position: relative;
    top : 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100dvh;
}

.pokemon-logo {
    width: 700px;
}

body {
    background-color: var(--main-bg-color);
}

.by {
    width: 40px;
    margin-top: 40px;
}

.name {
    margin-top: 80px;
    width: 400px;
}

.main-container {
    height: 100vh;
    height: 100dvh;
     background: var(--main-bg-color);
}

.title-bottom {
    display: flex;
    justify-content: center;
}

.pokemon-title-img {
    position: absolute;
    bottom: 0;
    left: 20px;
    object-fit: cover;
    width: 200px;
}

.pokeball-title {
    width: 300px;
    height: 150px;
    object-fit: cover;
        position: absolute;
        right: 0;
        bottom: 0;
}

.enter-wrapper {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.enter {
    object-fit: contain;
    width: 150px;
    align-self: flex-end;
    position: absolute;
    bottom: 40px;
    animation-name: enterLarge;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes enterLarge {
    0% {width: 150px;}
    50% {width: 200px;}
    100% {width: 150px;}
}

.loading-spinner-img {
    width: 180px;
    height: 180px;
    animation-name: animate-spinner;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


@keyframes animate-spinner {
    0% {rotate: 0deg;}
    100% {rotate: 360deg};
    
    
}

.animate-main-content {
    animation-name: enter-menu;
    animation-duration: 3s;
    animation-iteration-count: 1;
   
}

.middle-content {
    height: 100%;
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-sticky {
    background-color: var(--header-footer-bg-color);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    /* padding-bottom: 20px; */
    z-index: 1000;
    /* border-radius: 20px; */
    border-bottom: solid 3px var(--poke-logo-blue);
}

.bottom-sticky {
    background-color: var(--header-footer-bg-color);
    /* filter: opacity(10%); */
    
    position: fixed;
    height: 100px;
    right: 0;
    left: 0;
    bottom: 0;
    /* padding-top: 60px; */
    z-index: 1000;
    border-top: solid 3px var(--poke-logo-blue);
}



.opacity-border {
    height: 16px;
    filter: opacity(0.5);
    width: 100vw;
}

.button-wrapper {
    /* filter: opacity(1) !important; */
    background-color: var(--poke-logo-blue);
    padding: 10px;
    position: fixed;
    /* z-index: 1100; */
    /* position: relative; */
    bottom: 14px;
    display: flex;
    justify-content: space-between;
    left: 20px;
    right: 20px;
    /* right: 0; */
    /* transform: translateX(-50%); */
    gap: 40px;
    /* margin: 0 40px 20px; */
    border: solid 2px var(--poke-logo-darkblue);
    border-radius: 10px;
    /* transform: translateY(-40px); */
    box-shadow: 4px -4px 8px var(--poke-logo-darkblue);
}

.get-pokemon-button {
    font-family: cabin, sans-serif;
    font-weight: 500;
    height: auto;
    padding: 14px 14px;
    width: 250px;
    box-shadow: 4px -4px 4px ;
    border: solid 1px var(--poke-logo-blue) !important;
    /* border: solid 2px black; */
    border-radius: 5px;
    background-color: var(--poke-logo-yellow);
    color: var(--poke-logo-blue);
    font-family: montserrat, sans-serif;
    font-weight: 600;
    border: none;
    filter: brightness(95%);
    /* border: solid 3px var(--poke-logo-darkblue); */

}

.get-pokemon-button:hover {
    transform: scale(1.02);
    filter: brightness(110%);
    box-shadow: 5px -5px 6px;
}

.get-pokemon-button:active {
    border: solid 2px var(--poke-logo-blue) !important;
    font-size: 11px;
    filter: brightness(80%);
    transform: scale(0.95);
    /* transform: scale(0.98);
    filter: brightness(150%);
    box-shadow: 2px -2px 3px var(--poke-logo-darkblue);

    border: solid 2px var(--poke-logo-yellow);
    background-color: var(--poke-logo-darkblue);
    color: var(--poke-logo-yellow); */
}

/* @keyframes get-buttons {
0% {background-color: var(--grass-bgl);}
6% {background-color: var(--fire-bgl);}
12% {background-color: var(--water-bgl);}
18% {background-color: var(--bug-bgl);}
24% {background-color: var(--normal-bgl);}
30% {background-color: var(--poison-bgl);}
36% {background-color: var(--electric-bgl);}
42% {background-color: var(--ground-bgl);}
48% {background-color: var(--fairy-bgl);}
54% {background-color: var(--fighting-bgl);}
60% {background-color: var(--psychic-bgl);}
66% {background-color: var(--rock-bgl);}
72% {background-color: var(--dark-bgl);}
78% {background-color: var(--dragon-bgl);}
83% {background-color: var(--ghost-bgl);}
88% {background-color: var(--ice-bgl);}
91% {background-color: var(--steel-bgl);}
95% {background-color: var(--flying-bgl);}
100% {background-color: var(--grass-bgl);}
} */