



/* SEARCH BAR */

.top-sticky,
.bottom-sticky {
    background-color: var(--header-footer-bg-color);
    padding: 16px;
    right: 0;
    left: 0;
    z-index: 1000;
    border: solid 3px var(--poke-logo-blue);
    border-radius: 20px;
    position: fixed;
}

.top-sticky {
    top: 0;
}

.bottom-sticky {
    bottom: 0;
}

.search-bar {
    background-color: var(--poke-logo-blue);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border: solid 2px var(--poke-logo-darkblue);
    border-radius: 10px;
    box-shadow: 0 0 8px 2px var(--poke-logo-darkblue);
}


.search-bar * {
    border: none;
    font-family: montserrat, sans-serif;
    color: var(--poke-logo-darkblue);
    font-weight: 600;
}

.search-button {
    
    vertical-align: baseline;
    padding: 6px;
    filter: brightness(90%);
    border: solid 1px var(--poke-logo-blue) !important;
    border-radius: 5px;
    width: 80px;
    height: 46px;
}

.search-button:hover {
    filter: brightness(110%);
}

.search-button:active {
    border: solid 2px var(--poke-logo-blue) !important;
    font-size: 11px;
    filter: brightness(80%);
}

select {
    background-color: var(--poke-logo-yellow);
    border: none;
    outline: none;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 5px;
}

.search-bar button {
    background-color: var(--poke-logo-yellow);
    border: none;
}

.search-input {
    width: 300px;
    background-color: var(--poke-logo-blue);
    height: 46px;
    color: var(--poke-logo-yellow);
    padding-left: 12px;
    font-family: montserrat, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
}

.search-input::placeholder {
    color: var(--poke-logo-yellow);
}


.search-input:focus {
    border: none;
    border-radius: none;
    outline: none;
    color: var(--poke-logo-yellow);
}

.search-wrapper {
background-color: var(--poke-logo-yellow);
}

.search-wrapper,
.filter-wrapper {
    padding: 8px 14px;
    vertical-align: center;
    border-radius: 5px;
}

.sort-button-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.filter-wrapper {
    display: flex;
}

.name-search-type {
    position: relative;
    width: 15px;
    height: 15px;
    margin-left: 4px;
    margin-right: 4px;
    font-size: 14px;
}

.check-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
}

.greyscale {
    filter: grayscale(1);
}
