



/* SEARCH BAR */

.top-sticky,
.bottom-sticky {
    background-color: var(--header-footer-bg-color);
    padding: 16px;
    right: 0;
    left: 0;
    z-index: 1000;
    border: solid 3px var(--poke-logo-blue);
    border-radius: 20px;
}

.top-sticky {
    top: 0;
    position: sticky;
}

.bottom-sticky {
    bottom: 0;
    
    position: fixed;
    /* width: 100%; */
}

.search-bar {
    background-color: var(--poke-logo-blue);
    padding: 10px;
    bottom: 14px;
    display: flex;
    justify-content: space-between;
    left: 20px;
    right: 20px;
    gap: 40px;
    border: solid 2px var(--poke-logo-darkblue);
    border-radius: 10px;
    box-shadow: 0 0 8px 2px var(--poke-logo-darkblue);
}


.search-bar * {
    border: none;
    font-family: montserrat, sans-serif;
    color: var(--poke-logo-darkblue);
    font-weight: 600;
}

.search-button {
    /* border: solid 2px var(--poke-logo-blue) !important; */
    vertical-align: baseline;
    padding: 6px;
    filter: brightness(95%);
    border: solid 1px var(--poke-logo-blue) !important;
    border-radius: 5px;
    width: 58px;
    /* height: 30px; */
}

.search-button:hover {
    filter: brightness(110%);
}

.search-button:active {
    border: solid 2px var(--poke-logo-blue) !important;
    font-size: 11px;
    filter: brightness(80%);
}

select {
    background-color: var(--poke-logo-yellow);
    border: none;
    outline: none;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 5px;
}

.search-bar button {
    /* height: auto; */
    background-color: var(--poke-logo-yellow);
    border: none;
}

.search-input {
    width: 250px;
    background-color: var(--poke-logo-blue);
    height: 26px;
    color: var(--poke-logo-yellow);
    padding-left: 12px;
    font-family: montserrat, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
}

.search-input::placeholder {
    color: var(--poke-logo-yellow);
    /* padding-left: 6px; */
}


.search-input:focus {
    border: none;
    border-radius: none;
    outline: none;
    color: var(--poke-logo-yellow);
}

.search-wrapper {

background-color: var(--poke-logo-yellow);
}

.search-wrapper,
.filter-wrapper {
    padding: 8px 14px;
    vertical-align: center;
    border-radius: 5px;
}

.filter-wrapper {
    display: flex;
    gap: 16px;
    padding: 0;
}

.name-type {
    /* position: relative; */
    width: 15px;
    height: 15px;
    margin-left: 4px;
    margin-right: 4px;
}

.check-img {
    /* position: absolute; */
    top: 2px;
    left: 0;
    width: 18px;
    height: 18px;
}

.greyscale {
    filter: grayscale(1);
}



