.game-content {
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.left-content,
.middle-content,
.right-content {
    display: flex;
    flex-direction: column;
}

.left-content,
.right-content {
    width: 250px;
    height: auto;
    padding: 20px;
    
}

.middle-content {
    flex: 1;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.search-bar {
    margin-top: 20px;
}

.all-cards {
   flex: 1;
}

/* SMALL CARD DESIGN */


.all-cards {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

.small-card-header {
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    font-family: cabin, sans-serif;
    align-items:baseline;
}

.small-card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;
    height: 250px;
    padding: 10px;
    font-family: montserrat, sans-serif;
    font-weight: 600;
    font-size: 12px;
    transform: scale(1.00);
    transition: 500ms ease-in-out;
    /* box-shadow: 2px -2px 5px grey; */
}

.small-card-name {
    font-size: 16px;
}

.small-card-img-container {
    position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.border {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    height: 6px;
    width:101%;
    border-radius: 0 0 4px 4px;
    transform: translateY(1px);
}

.powers-header {
    margin-bottom: 8px;
    font-family: montserrat, sans-serif !important;
    font-size: 14px;
}

.powers-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    text-align: center;
    font-family: raleway, sans-serif;
    
}

.small-card-footer {
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: var(--small-card-border-position);
    bottom: var(--small-card-border-position);
    right: var(--small-card-border-position);
    padding: 5px;
    font-family: cabin, sans-serif;
}


/* HOVER EFFECT SMALL CARDS */

.small-card:hover {
    transform: scale(1.05);
    transition: 500ms ease-in-out;
    /* box-shadow: 12px -12px 5px 2px grey; */
}